<%= render layout: 'filers_menu' do %>
  <div class="filer-content container-fluid">
    <h4 class="report-heading">Download Individual Reports Directly From The SEC</h4>
    <ul class="link-section"><%@excel_links.each do |key, value|%>
      <li><%= link_to key, value, :class => "btn btn-success", :role => "button" %></li>
      <% end %>
    </ul>
    <h4 class="report-heading">Compiled Financials</h4>
    <ul class="nav nav-tabs" role="tablist">
      <% @tableData.each_with_index do |(key, value), i| %>
        <li role="presentation" class="<%= 'active' if i == 0 %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-controls="<%=key%>" role="button" aria-haspopup="true" aria-expanded="false">
          <%= @statementNames[key.to_s] %><span class="caret"></span>
          </a>
          <ul id="<%=key%>" class="dropdown-menu">
            <% value.each_with_index do |(key2, value), i2| %>
              <li role="presentation" class="<%= 'active' if i == 0 && i2 == 0 %>">
                <a href="#<%="#{key}#{key2}"%>" aria-controls="#{key}#{key2}" role="tab" data-toggle="tab"><%= @periodNames[key2.to_s] %></a>
              </li>
            <% end %>
          </ul>

        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <%@tableData.each_with_index do |(key, value), i|%>
        <% value.each_with_index do |(key2, value), i2|%>
        <div role="tabpanel" class="container-fluid tab-pane fade in <%= 'active' if i == 0 && i2 == 0 %>" id="<%=key%><%=key2%>">
          <table class="table table-sm table-bordered table-condensed table-striped table-responsive one-line-table">
            <caption><h4 class="report-heading"><%= @statementNames[key.to_s] %></h4></caption>
            <thead>
              <tr>
                <th colspan="2"><%= "Fiscal year ends in #{Date::MONTHNAMES[Date.strptime(@filer.fye, '%m%d').month]}" %></th>
                <% @periods[key2].each do |period| %>
                  <th><%= period %></th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <% value.each do |key, pres| %>
                <% all_nums = Precollection.get_nums(pres) %>
                <% isAbstract = pres.first.get_tags.first.abstract if pres.first.get_tags.first%>
                <% hasNoNums = all_nums.count == 0 %>
                <% parenthetical = pres.first.inpth %>
                <% isStructural = ['[Table]', '[Line Items]', '[Axis]', '[Domain]'].any? { |string| pres.first.plabel.include? string } %>
                  <% isTotal = pres.first.plabel.downcase.include? "total" %>
                  <% unless (hasNoNums && !isAbstract) || isAbstract && isStructural %>
                  <tr class="<%= 'total' if isTotal %>">
                    <% if isAbstract %>
                      <th style="color: white; background-color: black;"colspan="<%= @periods[key2].count + 2%>">
                      <% if pres.first.get_tag.doc %>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="<%=pres.first.get_tag.doc%>">
                          <span><%="#{pres.first.plabel}!!!!!!!!!!!!!!!!!!!!"%></span>
                        </a>
                      <%else%>
                        <span><%="#{pres.first.plabel}"%></span>
                      <%end%>
                      </th>
                    <% else %>
                      <td></td>
                      <th data-field="<%=pres.first.tag%>"><%= "#{pres.first.plabel}" %></th>
                      <%Precollection.format_rows(all_nums, @periods[key2]).each do |nums|%>
                        <td>
                          <% if nums %>
                            <% nums = nums.uniq { |p| p.value } %>
                            <% count = nums.count %>
                            <% num = nums.first %>
                            <% if num.uom && num.value %>
                              <% if count == 1 %>
                                <%= link_to "#{number_with_delimiter(num.value)}   #{num.uom}", num.get_pre(pres.first.stmt,pres.first.report).get_sec_table_link, :target => "_blank" %>
                              <% elsif count > 1 %>
                                <% content = '<div style="position:relative">' %>
                                <% nums.each do|num| %>
                                <% content += link_to "#{number_with_delimiter(num.value)}   #{num.uom} : #{num.qtrs} qtrs", num.get_pre(pres.first.stmt,pres.first.report).get_sec_table_link, :target => "_blank"%>
                                <% content += "<br>"%>
                                <% end %>
                                <% content += '</div>' %>
                                <div class="modal-body">
                                  <a href="javascript:void(0);" data-toggle="popover" data-placement="bottom" title="Conflicting Values" data-html="true" data-content="<%=content%>">Conflicting Values</a>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>
                        </td>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
