<%= render layout: 'filers_menu' do %>
  <div class="filer-content container-fluid">
    <h4 class="report-heading">Download Individual Reports Directly From The SEC</h4>
    <ul class="link-section"><%@excel_links.each do |key, value|%>
      <li><%= link_to key, value, :class => "btn btn-success", :role => "button" %></li>
      <% end %>
    </ul>
    <h4 class="report-heading">Compiled Financials</h4>
    <ul class="nav nav-tabs" role="tablist">
      <% @tableData.each_with_index do |(key, value), i| %>
        <li role="presentation" class="<%= 'active' if i == 0 %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-controls="<%=key%>" role="button" aria-haspopup="true" aria-expanded="false">
          <%= @statementNames[key.to_s] %><span class="caret"></span>
          </a>
          <ul id="<%=key%>" class="dropdown-menu">
            <% value.each_with_index do |(key2, value), i2| %>
              <li role="presentation" class="<%= 'active' if i == 0 && i2 == 0 %>">
                <a href="#<%="#{key}#{key2}"%>" aria-controls="#{key}#{key2}" role="tab" data-toggle="tab"><%= @periodNames[key2.to_s] %></a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @tableData.each_with_index do |(key, value), i| %>
        <% value.each_with_index do |(key2, value), i2| %>
          <div role="tabpanel" class="container-fluid tab-pane fade in <%= 'active' if i == 0 && i2 == 0 %>" id="<%=key%><%=key2%>">
            <table class="table table-sm table-bordered table-condensed table-striped table-responsive one-line-table">
              <caption><h4 class="report-heading"><%= @statementNames[key.to_s] %></h4></caption>
              <thead>
                <tr>
                  <% value["headers"].each_with_index do |header, index| %>
                    <th <%= "colspan=2" if index==0 %>><%= header %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% value.each do |key3, row| %>
                  <% unless key3 == "headers" || row.count==0%>
                    <tr>
                      <% if row.count == 1 %>
                        <th colspan=<%= @periods[key2].count + 2 %> data-field="<%=row.first.get_tag%>"><%= "#{row.first.plabel}" %></th>
                      <% else %>
                        <td></td>
                        <%@tableData[key][key2][key3].each_with_index do |nums, index|%>
                          <% if index == 0 %>
                            <th data-field="<%=nums.get_tag%>"><%= "#{nums.plabel}" %></th>
                          <% else %>
                            <td>
                              <% if nums %>
                                <% count = nums.count %>
                                <% if nums.count > 0 %> 
                                  <% num = nums.first %>
                                  <% if num.uom && num.value %>
                                    <% if count == 1 %>
                                      <%= link_to "#{number_with_delimiter(num.value)}   #{num.uom}", num.get_pre(row.first.stmt,row.first.report).get_sec_table_link, :target => "_blank" %>
                                    <% elsif count > 1 %>
                                      <% content = '<div style="position:relative">' %>
                                      <% nums.each do |num| %>
                                        <% content += link_to "#{number_with_delimiter(num.value)}   #{num.uom} : #{num.qtrs} qtrs", num.get_pre(row.first.stmt,row.first.report).get_sec_table_link, :target => "_blank"%>
                                        <% content += "<br>"%>
                                      <% end %>
                                      <% content += '</div>' %>
                                      <div class="modal-body">
                                        <a href="javascript:void(0);" data-toggle="popover" data-placement="bottom" title="Conflicting Values" data-html="true" data-content="<%=content%>">Conflicting Values</a>
                                      </div>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              <% end %>
                            </td>
                          <% end %>
                        <% end %>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
