<p id="notice"><%= notice %></p>

<h1>Listing Filers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filers.each do |filer| %>
      <tr>
        <td><%= link_to 'Show', filer %></td>
        <td><%= link_to 'Edit', edit_filer_path(filer) %></td>
        <td><%= link_to 'Destroy', filer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filer', new_filer_path %>
