<%= render layout: 'filers_menu' do %>
<% if @hasStock %>
	<div class="stock-header">
		<div class="hd">
			<div class="title">
				<h2><%= @filer.displayName %> <%= "[#{@filer.stock.ticker}]" if @hasStock %></h2>
				<span class="exchange"><%= "- #{@stock.exchange}" if @hasStock %></span>
			</div>
		</div>
		<div class="stock-quote-summary">
			<span class="bid"><%= @stockData[:data][:bid] %></span>
			<div class=<%= "stock-state-#{@stockState}" %>>
				<i class="<%= "fa fa-caret-#{@stockState}"%>" aria-hidden="true"></i>
				<span class="price-change"><%= '%.2f' % @stockData[:data][:change] %></span>
				<span class="price-change-percent">(<%= '%.2f' % @stockData[:data][:change_in_percent] %>%)</span>
			</div>
		</div>
		<%= link_to "Download Financials for #{@filer.symbol} (Excel)", [@filer, :download_excel], class: "btn btn-success" %>
	</div>

	<%= render 'filer_stock_grid' %>


	<h3>STOCK DATA FOR REFERENCE</h3>
	<table>
		<tbody>
			<% @stockData[:data].each do |row| %>
			<tr>
				<th><%= @stockData[:labels][row.first] || row.first%></th><td><%=row.last%></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<% end %>
